<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd 
                            http://cxf.apache.org/jaxws
                            http://cxf.apache.org/schemas/jaxws.xsd
       "
>
  <!-- 加载资源文件,将其注释掉对项目并不产生影响 -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-jaxws.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
  
  <!-- 指定服务 -->
  <jaxws:endpoint id="MyWebServiceImpl" implementor="com.webservice.impl.MyWebServiceImpl" address="/myservice" ></jaxws:endpoint>
  
</beans>