<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:con="http://www.springframework.org/schema/context" 
       xmlns:task="http://www.springframework.org/schema/task"       
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context-4.3.xsd
                           http://www.springframework.org/schema/task  
	                       http://www.springframework.org/schema/task/spring-task-4.3.xsd  
                           "                         
>
<!-- 配置文件的方式 -->
<!-- 任务类 -->
<!--  >bean id="MyJob" class="com.job.MyJob"></bean-->
<task:annotation-driven/>  
<con:component-scan base-package="com.job.**"></con:component-scan>


</beans>